.max-and-min-height {
    min-height: 315px;
    max-height: 350px;
}

.image-details {
    max-height: 220px;
    width: auto;
    float: left;
}

.card-image-details {
    display: block;
}

.jumbotron-background {
    min-height: 355px;
    background: white;
}

.padding{
    padding: 10% 10%;
}